# {{ ansible_managed }}
{%   set run_commands = [] %}
{%   for key, value in telegraf_openstack_scripts.items() %}
{%     if value.when_group | bool and (value.group == inventory_hostname or inventory_hostname in value.group | default([])) %}
{%       set _ = run_commands.extend(value.command) %}
{%     endif %}
{%   endfor %}

{%   if run_commands %}
[[inputs.exec]]
	commands = [{{ run_commands | map('quote') | join(',\n\t\t') }}]
	timeout = "{{ (run_commands | length) * telegraf_openstack_scripts_timeout }}s"
	data_format = "{{ telegraf_openstack_scripts_data_format }}"
{%   endif %}
